/* About.module.css */
.about {
  /* Your styles for the about section */
}

.peopleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.personCard {
  width: 200px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: #e7e5e5;
}

.personImage {
  width: 100px; /* Adjusted size */
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.socialIcon {
  width: 24px; /* Adjusted size */
  margin: 5px;
}
