.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.label {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.input,
.textarea {
  margin-left: 50px;
  display: flex;
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #f3f2f2;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #08070e;
  background-color: #fff;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  max-width: 320px;
}

/* Add or update these styles in your Form.module.css */
.textarea {
  width: 100%; /* Make textarea width consistent with other inputs */
  height: 150px; /* Set a fixed height */
  padding: 10px; /* Padding inside the textarea */
  border: 1px solid #ccc; /* Consistent border with other inputs */
  border-radius: 4px; /* Rounded corners like other inputs */
  font-family: inherit; /* Ensures font consistency */
  font-size: 16px; /* Readable font size */
  resize: vertical; /* Allows vertical resizing only */
}

.button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  align-self: center;
}

.button:hover {
  background-color: #0056b3;
}
